
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50 : #ebf9fc,
  100 : #cceff7,
  200 : #abe5f2,
  300 : #89daed,
  400 : #6fd2e9,
  500 : #56cae5,
  600 : #4fc5e2,
  700 : #45bdde,
  800 : #3cb7da,
  900 : #2babd3,
  A100 : #ffffff,
  A200 : #e0f7ff,
  A400 : #adeaff,
  A700 : #94e4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$VTManagerUI-primary: mat.define-palette($md-mcgpalette0);
$VTManagerUI-accent: mat.define-palette($md-mcgpalette0, 500, 500, 500);

// The warn palette is optional (defaults to red).
$VTManagerUI-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$VTManagerUI-theme: mat.define-light-theme((
  color: (
    primary: $VTManagerUI-primary,
    accent: $VTManagerUI-accent,
    warn: $VTManagerUI-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($VTManagerUI-theme);

