
@tailwind base;
@tailwind components;
@tailwind utilities;
/*// Background border*/
   .mat-checkbox .mat-checkbox-frame {
     /*border-color: none;*/
     border:none;
     background-color: #EFEFEF;
     margin:-2px;
     width: 20px;
     height: 20px;
     border-radius:6px !important;
   }

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin:-2px;
  width: 20px;
  height: 20px;
  border-radius:6px !important;
}
.mat-menu-content  {
  padding-top: 0 !important;
  padding-bottom:0 !important;
}


.mat-menu-panel {

  min-height: fit-content !important;
}
.mat-cell .mat-header-cell .td .mat-cell:first-of-type {
  padding-left: 0px !important;
}

.mat-paginator-container {
  ;
  justify-content: space-between !important;
  }
.mat-paginator-page-size-label{
  display: none;
}
.mat-form-field-underline{
  display: none !important;
}
.mat-form-field{
  border:2px solid #EFEFEF !important;
}
.mat-form-field-wrapper {
  padding-bottom: 0px !important;

  padding-left: 5px;
  padding-right: 5px;
}
.mat-paginator-range-actions{
  justify-content: flex-end;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
border-bottom: none !important;

}
.td{
  width: auto !important;
}
