
@tailwind base;
@tailwind components;
@tailwind utilities;
/*// Background border*/
.mat-checkbox .mat-checkbox-frame {
  /*border-color: none;*/
  border:none;
  background-color: #EFEFEF;
  margin:-2px;
  width: 20px;
  height: 20px;
  border-radius:6px !important;
}
.mat-select-min-line{
  color:#00000099 !important;
  font-weight:100 !important;

}
.mat-checkbox .mat-checkbox-frame {
  /*border-color: none;*/
  border:none;
  background-color: #EFEFEF;
  margin:-2px;
  width: 20px;
  height: 20px;
  border-radius:6px !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  margin:-2px;
  width: 20px;
  height: 20px;
  border-radius:6px !important;
}
.mat-menu-content  {
  padding-top: 0 !important;
  padding-bottom:0 !important;
}


.mat-menu-panel {

  min-height: fit-content !important;
}
.mat-cell .mat-header-cell .td .mat-cell:first-of-type {
  padding-left: 0px !important;
}

.mat-paginator-container {
;
  justify-content: space-between !important;
}
.mat-paginator-page-size-label{
  display: none;
}
.mat-form-field-underline{
  display: none !important;
}
.mat-form-field{
  border:1px solid #0000001F !important;
  width: 105px;
  height: 36px !important;
}
.mat-toolbar {
  height: 75px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 2px;
}
.mat-form-field-wrapper {
  padding-bottom: 0px !important;

  padding-left: 5px;
  padding-right: 5px;
}
.mat-paginator-range-actions{
  justify-content: flex-end;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom: none !important;

}
.td{
  width: auto !important;
}

.mat-form-field.mat-form-field.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder.mat-form-field-should-float{
  border-radius: 5px !important;
  height: 43px;
}

span.mat-option-text {
  color: #00000099 !important;
}
.p-dropdown{
  width: 100% !important;
}
.p-multiselect {
  width: 100% !important;
}
.p-chips{
  width: 100% !important;
}
.p-inputtext{
  width: 100% !important;
}
.p-inputtext:focus{
  border:2px solid #56CAE5 !important;
  ring: none !important;
  outline: none !important;

}
.p-float-label{
  width: 100% !important;
}
.ql-header{
  color:#2babd3 !important;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 7px !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 7px !important;
}
.mat-row{
  border-bottom: 0.5px dashed #EFEFEF !important;
}
.mat-header-row{
  border-bottom: 1px solid #EFEFEF !important;
}
.mat-sort-header-arrow{
  background: none !important;
}
.mat-select-min-line{
  color:#00000099 !important;
  font-size: 16px !important;

}


.mat-select-value{
  color:#0f0000 !important;
}
