<div class="flex justify-between pb-4">
  <div>
    <div class="text-[18px] text-head-text " >
      <div class="font-semibold">{{text1}}</div>
    </div>
    <div class="font-light text-[14px]">
      {{text2}} <span class="font-semibold text-dark-text">{{text3}}</span>
    </div>
  </div>
  <div class="">
    <button class="text-white bg-light-blue rounded-md w-[119px] flex align-middle p-2 px-3 h-[36px] text-[14px] "><i class="fi fi-rr-plus font-black  align-middle pt-0.5 pr-1"></i>New Order</button>
  </div>
</div>
