<section class="bg-[#F7F7F7] text-gray font-sans">
  <div class="p-4">
    <div class="flex justify-between">
      <div>
        <div class="text-[18px] text-head-text " >
          <div class="font-semibold">
           Product Types
          </div>
        </div>
        <div class="font-light text-[14px]">
          Home - Catalog - <span class="font-semibold text-dark-text">Product Types</span>
        </div>
      </div>
      <div class="flex space-x-2">
        <button mat-button [matMenuTriggerFor]="actions" class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] items-center">
          Action<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i>
        </button>
        <mat-menu #actions="matMenu" xPosition="before">
          <button mat-menu-item class="text-[#FF0000] "><i class="fi fi-rr-trash  align-middle px-2"></i>Delete</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="exports" class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] ">
          <i class="fi fi-rr-upload  align-middle px-2"></i>Export<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i>
        </button>
        <mat-menu #exports="matMenu" xPosition="before">
          <button mat-menu-item>Download as CSV</button>
          <button mat-menu-item>Order rules picking as CSV</button>
          <button mat-menu-item>Warehouse colli labels</button>
          <button mat-menu-item>Packing List</button>
        </mat-menu>

        <button class="text-white bg-light-blue rounded px-3 h-[36px] text-[14px] "><i class="fi fi-rr-plus font-bold  align-middle pr-1"></i>New Order</button>
      </div>
    </div>

    <div class="bg-white mt-[24px]">
      <div class="px-8 pt-8 flex justify-between">
        <div class="flex space-x-10">
          <div class=" flex rounded w-[362px] h-[36px] bg-dark-gray">
            <i class="fi fi-rr-search bg-dark-gray pt-1.5 pl-4 pr-4 my-auto rounded"></i>
            <input (keyup)="applyFilter($event)" placeholder="Search Orders" class=" outline-0 rounded bg-dark-gray w-full">
          </div >
          <button (click)=headFill() [ngClass]="exHeadFill ? 'bg-dark-blue rounded-full text-white w-[36px] h-[36px]' : 'bg-none text-dark-blue w-[36px] h-[36px]'">
            <i class="fi fi-rr-filter text-lg  "></i>
          </button>
        </div>
        <div>
          <mat-form-field >
            <mat-select multiple [(ngModel)]="columnsToDisplay"   placeholder='Columns'>
              <mat-option *ngFor="let col of availableColumns" [value]="col" class="text-primary-blue">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="px-4">
        <table mat-table
               [dataSource]="listOfOrder"
               multiTemplateDataRows
               class="px-4">
          <ng-container matColumnDef="extend" >
            <th mat-header-cell *matHeaderCellDef>`
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2"></div>
                <div class=" h-[46px]" >
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
              <i class="fi fi-rr-angle-right align-middle"></i>
            </td>
          </ng-container>

          <ng-container matColumnDef="select" >
            <th mat-header-cell *matHeaderCellDef>
              <div class="flex-col items-center">
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()" class="h-[46px] pt-[20px] px-2">
                </mat-checkbox>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                  </div>
                </div>
              </div>

            </th>
            <td mat-cell *matCellDef="let row" >
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">NUMBER</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <input (keyup)="applyFilter($event)"  placeholder="Number" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded h-[40px] mt-[3px] w-[70px] mx-2">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans font-bold"> {{element.no}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">CUSTOMER</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <input (keyup)="applyFilter($event)"  placeholder="Customer" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded h-[40px] mt-[3px] w-[100px] mx-2">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans "> {{element.customer}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="business" >
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">BUSINESS</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <input (keyup)="applyFilter($event)"  placeholder="Business" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded h-[40px] mt-[3px] w-[100px] mx-2">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.business}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="postcode">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">POSTCODE</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <input (keyup)="applyFilter($event)"  placeholder="Postcode" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded h-[40px] mt-[3px] w-[80px] mx-2">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans "> {{element.postcode}} </td>
          </ng-container>

          <ng-container matColumnDef="order_date">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">ORDER&nbsp;DATE</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[130px]  flex" >
                    <input  (keyup)="applyFilter($event)"  placeholder="Order Date" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l h-[40px] mt-[3px] w-[90px] ml-2 ">
                    <div class="text-[14px] bg-[#F5F8FA] outline-0 rounded-r h-[40px] mt-[3px] pt-[12px] w-[20px] mr-2">
                      <i class="fi fi-rr-calendar "></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans "> {{element.order_date}} </td>
          </ng-container>

          <ng-container matColumnDef="date_of_delivery">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">DATE&nbsp;OF&nbsp;DELIVERY</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[140px]  flex" >
                    <input  (keyup)="applyFilter($event)"  placeholder="Delivery Date" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l h-[40px] mt-[3px] w-[105px] ml-2 ">
                    <div class="text-[14px] bg-[#F5F8FA] outline-0 rounded-r h-[40px] mt-[3px] pt-[12px] w-[20px] mr-2">
                      <i class="fi fi-rr-calendar "></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.date_of_delivery}} </td>
          </ng-container>

          <ng-container matColumnDef="delivery">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">DELIVERY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <select (click)="applyFilter($event)" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded h-[40px] mt-[3px] w-[100px] mx-2"></select>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[11px] text-dark-text font-sans " ><div class="bg-[#4C9ED1] rounded-full text-center text-white"> {{element.delivery}} </div></td>
          </ng-container>

          <ng-container matColumnDef="actions" >
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-2">ACTIONS</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans">
              <div class="px-2 mt-1.5 text-[14px] text-dark-text font-sans flex justify-center ">
                <i routerLink={{element.no}} class="fi fi-rr-pencil text-primary-blue"></i>
              </div>
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->

          <tr mat-header-row  *matHeaderRowDef="[ 'select','no'].concat(columnsToDisplay).concat(['actions'])" class=" border-b-2 border-[#EFEFEF]"></tr>

          <tr mat-row *matRowDef="let element; columns: [ 'select','no'].concat(columnsToDisplay).concat(['actions']);"
              [class.example-expanded-row]="expandedElement === element"
              class="example-element-row border-b-2 border-[#EFEFEF] "></tr>
        </table>
        <mat-paginator style-paginator
                       [pageSizeOptions]="[10, 20,50]"
                       [pageSize]="10"
                       [length]="listOfOrder.data.length"
                       [showTotalPages]="5 ">
          ></mat-paginator >

      </div>
    </div>
  </div>
</section>
