<app-navigation>
  <section class="bg-[#F7F7F7] text-gray font-sans">
    <div class="p-4">
      <div class="flex justify-between">
        <div>
          <div class="text-[18px] text-head-text " >
            <div class="font-semibold">
              Product Types Details
            </div>
          </div>
          <div class="font-light text-[14px]">
            Home - Catalog -<span class="font-semibold text-dark-text">&nbsp;Product Types </span>
          </div>
        </div>
        <div class="flex space-x-2">
          <button  class="text-white bg-[#FF0000] w-[100px] rounded-md"><i class="fi fi-rr-trash  align-middle pr-2"></i>Delete</button>
        </div>
      </div>
    </div>
    the id is : {{id}}
    <div class="bg-white rounded-md m-4 ">
      <div class="p-4 flex">
        <img src="assets/img/cat.jpg" class="w-[80px] h-[80px] rounded-md" alt="">
        <div class="px-4">
          <p class="text-[#00000099] text-[24px]">Halal</p>
          <p>halal</p>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-md m-4 ">
      <div class="p-4 flex flex-col space-y-4" >
        <div class="space-y-[30px] pt-[30px]">
          <div class="flex">
            <img src="assets/im=g/cat.jpg" class="w-[150px] h-[150px] rounded-md" alt="">
            <div class="mx-4 flex flex-col space-y-4 items-center my-auto">
              <button class="w-[123px] h-[36px] bg-[#56CAE5] text-white rounded-md">Upload Image</button>
              <button class="w-[123px] h-[36px] bg-[#FBC02D] rounded-md">Delete Image</button>
            </div>
          </div>
          <div class="flex flex-col space-y-[30px]">
            <div class="w-[500px] ">
                <span class="p-float-label">
                  <input type="text" pInputText [(ngModel)]="value1" >
                  <label >InputText</label>
                </span>
            </div>
            <div class="flex flex-row space-x-[10px]">
              <div class="w-[500px] ">
                <span class="p-float-label">
                  <input type="text" pInputText [(ngModel)]="value1" >
                  <label >InputText</label>
                </span>
              </div>
              <div class="w-[70px]">
                <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <hr class="text-[#00000029]">
        <div class="flex justify-end space-x-[10px]">
          <button  type="button" class="h-[36px] w-[78px] text-[#FBC02D] rounded border">Cancel</button>
          <button  type="button" class="h-[36px] w-[64px] text-white rounded bg-[#56CAE5]">Save</button>
        </div>
      </div>
    </div>
  </section>
</app-navigation>
