<div class="hidden md:block  font-sans">
  <div class='fixed min-w-full flex h-[80px] bg-[#56CAE5] text-white justify-between'>
    <div></div>
    <div class="flex my-auto space-x-5 px-5 items-center">
      <div>
        <i class="fi fi-rr-comments text-light-text text-[24px]"></i>
      </div>
      <div class="relative">
        <i class="fi fi-rr-bell text-[24px] text-light-text"></i>
        <span class="absolute text-[10px] bg-red-500 w-4 h-4 flex items-center justify-center font-bold text-white rounded-full -top-2 -right-2">8</span>
      </div>
      <div>
        <i class="fi fi-rr-apps text-[24px] text-light-text"></i>
      </div>
      <div class="flex space-x-1 my-auto	">
        <img src="assets/img/cat.jpg" class="rounded-full h-[40px] w-[40px]" alt="vt">
        <span class="translate-y-1/4 font-light	">Rod Modon <i class="fi fi-rr-caret-down text-dark-blue"></i></span>
      </div>
    </div>
  </div>
</div>


