<div>
  <div class="text[12px] text[#00000061]">Billing</div>
  <div class="text-[12px] bg-[#F57F17] text-center text-white">Billable</div>
</div>
<div>
  <div class="text[12px] text[#00000061]">Invoice</div>
  <div class="text-[12px]  text-center text-primary-blue">25071</div>
</div>


<div>
  <div class="text-[12px] text-[#00000061]">Venue</div>
  <div class="text-[16px] text-dark-text">Amsterdam</div>
</div>
<div>
  <div class="text[12px] text[#00000061]">Discount</div>
  <div class="text-[16px] text-dark-text">€0.00</div>
</div>
