<!--<section class="bg-[#F7F7F7] text-gray md:pl-[240px] md:pt-[80px] font-sans min-h-screen w-full mx-auto ">-->

<!--<p-table [value]="dataSource" dataKey="name" class="table-auto">-->
<!--  <ng-template pTemplate="header">-->
<!--    <tr>-->
<!--      <th></th>-->
<!--      <th><mat-checkbox >-->
<!--      </mat-checkbox>-->
<!--      </th>-->
<!--      <th pSortableColumn="possison">Possison <p-sortIcon field="possison"></p-sortIcon></th>-->
<!--      <th pSortableColumn="name">Customer Name <p-sortIcon field="name"></p-sortIcon></th>-->
<!--      <th pSortableColumn="weight">Weght <p-sortIcon field="weight"></p-sortIcon></th>-->
<!--      <th pSortableColumn="symbol">Symbol <p-sortIcon field="symbol"></p-sortIcon></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th></th>-->
<!--      <th></th>-->
<!--      <th>-->
<!--        <input pInputText type="text"  class="p-column-filter w-fit">-->
<!--      </th>-->
<!--      <th>-->
<!--        <input pInputText type="text"  placeholder="Search by Name" class="p-column-filter w-fit">-->
<!--      </th>-->
<!--      <th>-->
<!--        <input pInputText type="text"  placeholder="Search by Name" class="p-column-filter w-fit">-->
<!--      </th>-->
<!--      <th>-->
<!--        <input pInputText type="text"  placeholder="Search by Name" class="p-column-filter w-fit">-->
<!--      </th>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-order let-expanded="expanded">-->
<!--    <tr>-->
<!--      <td>-->
<!--        <div  pButton pRipple [pRowToggler]="order" class="p-button-text  p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></div>-->
<!--      </td>-->
<!--      <td>-->
<!--        <mat-checkbox >-->
<!--      </mat-checkbox>-->
<!--      </td>-->
<!--      <td>{{order.position}}</td>-->
<!--      <td>{{order.name}}</td>-->
<!--      <td>{{order.weight}}</td>-->
<!--      <td>{{order.symbol}}</td>-->


<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="rowexpansion" let-order>-->
<!--    <tr>-->
<!--      hello-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-table>-->
<!--</section>-->
