<app-navigation>
  <section class="bg-[#F7F7F7] text-gray font-sans">
    <div class="p-4">
      <div class="flex justify-between">
        <div>
          <div class="text-[18px] text-head-text " >
            <div class="font-semibold">
              Price Margin for polenta lime cake 1 outer box with 5 cakes a 10 points
            </div>
          </div>
          <div class="font-light text-[14px]">
            Home - <span class="font-semibold text-dark-text">&nbsp;Price Margins </span>
          </div>
        </div>
        <div class="flex space-x-2">
          <button  class="text-white bg-[#FF0000] w-[100px] rounded-md"><i class="fi fi-rr-trash  align-middle pr-2"></i>Delete</button>
        </div>
      </div>
    </div>
    the id is : {{id}}
    <div class="bg-white rounded-md m-4 ">
      <div class="p-4 flex flex-col space-y-4" >
        <div class="space-y-[30px] pt-[30px]">
          <div class="w-[670px]">
            <div class=" ">
                <span class="p-float-label">
                  <input type="text" pInputText [(ngModel)]="value1" >
                  <label >InputText</label>
                </span>
            </div>
          </div>
          <div class="flex space-x-[10px]">
            <div class="w-[330px]">
              <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
            </div>
            <div class="w-[330px]">
              <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="flex space-x-[10px]">
            <div class="w-[670px]  h-[80px]">
                <span class="p-float-label">
                <textarea id="float-input" class="w-[670px] h-[80px] border border-[#0000001F] rounded-md" pInputTextarea></textarea>
                <label for="float-input">Summary</label>
            </span>
            </div>
          </div>
          <div class="flex space-x-[10px]">
            <div class="w-[330px]  h-[100px]">
                <span class="p-float-label">
                  <input type="text" pInputText [(ngModel)]="value1" >
                  <label >InputText</label>
                </span>
            </div>
            <div class="w-[330px]">
              <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
            </div>
          </div>
          <div class="flex">
            <label class="bg-[#F7F7F7] flex w-[510px] h-[150px] rounded justify-center items-center border border-dashed	">

              <div class="h-[36px] w-[36px] bg-white rounded-full flex justify-center items-center">
                <i class=" fi fi-rr-add pt-1"></i>
              </div>
              <input type="file" class=" hidden">
            </label>
            <div class="mx-4 flex flex-col space-y-4 items-center my-auto">
              <button class="w-[123px] h-[36px] bg-[#56CAE5] text-white rounded-md">Upload Image</button>
              <button class="w-[123px] h-[36px] bg-[#FBC02D] rounded-md">Delete Image</button>
            </div>
          </div>
        </div>
        <hr class="text-[#00000029]">
        <div class="flex justify-end space-x-[10px]">
          <button  type="button" class="h-[36px] w-[78px] text-[#FBC02D] rounded border border-[#C1C1C1]">Cancel</button>
          <button  type="button" class="h-[36px] w-[64px] text-white rounded bg-[#56CAE5]">Save</button>
        </div>
      </div>
    </div>
  </section>
</app-navigation>
