<section class="bg-[#F7F7F7] text-gray ">
  <div class="p-6">
    <app-page-head [text1]="title1" [text2]="title2" [text3]="title3">
      <button class="text-white bg-light-blue rounded flex align-middle p-2 px-3 h-[36px] text-[14px] "><i class="fi fi-rr-plus font-black  align-middle pt-0.5 pr-1"></i>New Category</button>
    </app-page-head>
    <app-page-body>
      <div class="px-5 pt-5 flex justify-between">
        <div class="flex space-x-4">
          <div class=" flex text-[14px] relative w-[342px] h-[32px]">
            <input (keyup)="applyFilter($event)" placeholder="Search Products" class="absolute rounded-lg outline-0 indent-10  bg-[#F5F8FA] h-full w-full left-0 ">
            <i class="fi fi-rr-search absolute left-0 p-2 pl-4"></i>
          </div>
          <button (click)=headFill() [ngClass]="exHeadFill ? 'bg-dark-blue rounded-full text-white w-[36px] h-[36px] pt-1' : 'bg-none text-[#56CBE5] w-[36px] h-[36px] pt-1'">
            <i class="fi fi-rr-filter text-md  "></i>
          </button>
        </div>
        <div class="flex space-x-2">
          <button [matMenuTriggerFor]="actions" class="text-light-blue border border-border-gray bg- rounded-md px-3 h-[36px] text-[14px] items-center">
            Action<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i>
          </button>
          <mat-menu #actions="matMenu" xPosition="before">
            <button mat-menu-item class="text-[#00000099] text-left"><i class="fi fi-rr-circle  align-middle px-2"></i>Activate</button>
            <button mat-menu-item class="text-[#00000099] text-left"><i class="fi fi-ss-circle  align-middle px-2"></i>Deactivate</button>
            <button mat-menu-item class="text-[#FF0000] "><i class="fi fi-rr-trash  align-middle px-2"></i>Delete</button>
          </mat-menu>

          <mat-form-field >
            <mat-select multiple [(ngModel)]="columnsToDisplay"   placeholder='Columns'>
              <mat-option *ngFor="let col of availableColumns" [value]="col" class="text-primary-blue">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="pr-4 pl-6">
        <table mat-table
               [dataSource]="listOfProduct"
               multiTemplateDataRows
               class="px-4 table-auto mx-auto w-full">
          <ng-container matColumnDef="extend" >
            <th mat-header-cell *matHeaderCellDef>
              <div class="flex-col items-center">
                <div class="h-[46px] w-[20px]  pt-[20px]"></div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[10px] border-[#EFEFEF]" >
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element ">
              <div *ngIf="expandedElement === element ? null : element ; else secExtend " class="h-[46px] w-[10px] flex items-center text-[#009CB2]">
                <i class="fi fi-rr-angle-right"></i>
              </div>
              <ng-template #secExtend class="h-[46px] w-[10px] flex items-center text-[#009CB2]">
                <i class="fi fi-rr-angle-down text-[#009CB2]"></i>
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="select" >
            <th mat-header-cell *matHeaderCellDef class="w-[46px]">
              <div class="flex-col items-center">
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  [aria-label]="checkboxLabel()" class="h-[46px] pt-[20px]">
                </mat-checkbox>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[46px] border-[#EFEFEF]" >
                  </div>
                </div>
              </div>

            </th>
            <td mat-cell *matCellDef="let row" class="px-2">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">IMAGE</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans font-bold">
              <img class="rounded-full h-[36px] w-[36px]" src='https://picsum.photos/seed/{{math}}/400/400'>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">NAME</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <input (keyup)="applyFilter($event)"  placeholder="NAME" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[50px] mx-2">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans "> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="product_type" >
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">PRODUCT TYPE</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <select (click)="applyFilter($event)" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[100px] mx-2"></select>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans"> {{element.product_type}} </td>
          </ng-container>

          <ng-container matColumnDef="categories" >
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">CATEGORIES</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <select (click)="applyFilter($event)" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[100px] mx-2"></select>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.categories}} </td>
          </ng-container>

          <ng-container matColumnDef="supplier">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">SUPPLIER</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <input (keyup)="applyFilter($event)"  placeholder="Supplier" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[80px] mx-2">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans "> {{element.supplier}} </td>
          </ng-container>

          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">STOCK</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[130px]  flex" >
                    <input  (keyup)="applyFilter($event)"  placeholder="Stock" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l-md h-[36px] mt-[5px] w-[50px] ml-2 ">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans "> {{element.stock}} </td>
          </ng-container>

          <ng-container matColumnDef="btw">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">BTW</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[140px]  flex" >
                    <input  (keyup)="applyFilter($event)"  placeholder="BTW" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l-md h-[36px] mt-[5px] w-[50px] ml-2 ">
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.btw}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">STATUS</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px]" >
                    <select (click)="applyFilter($event)" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[100px] mx-2"></select>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class=" text-[11px] text-dark-text font-sans " ><span class="bg-[#56CAE5] py-1 px-2 rounded-full text-center text-white"> {{element.status}} </span></td>
          </ng-container>

          <ng-container matColumnDef="kind">
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px]">KIND</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] w-[140px]  flex" >
                    <input  (keyup)="applyFilter($event)"  placeholder="Kind" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l-md h-[36px] mt-[5px] w-[105px] ml-2 ">
                    <div class="text-[14px] bg-[#F5F8FA] outline-0 rounded-r-md h-[36px] mt-[5px] pt-[12px] w-[20px] mr-2">
                      <i class="fi fi-rr-calendar "></i>
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.kind}} </td>
          </ng-container>


          <ng-container matColumnDef="actions" >
            <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
              <div class="flex-col items-center">
                <div class="h-[46px] pt-[20px] px-r text-center">ACTIONS</div>
                <div *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] border-[#EFEFEF]" >
                  </div>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let element" class=" mx-auto text-[14px] text-dark-text font-sans">
              <div class="flex space-x-3 px-4 justify-center">
                <i class="fi fi-rr-trash text-[#FF0000]"></i>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" colspan="13" >
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="bg-[#F7F7F7] w-full grid grid-cols-6 font-sans">
                  <div class="col-span-1 p-4">
                    <div class="space-y-4">
                      <div class="">
                        <div class="text-[12px] text-[#00000061] font-sans">Venue</div>
                        <div class="text-[16px] text-dark-text font-sans">Amsterdam</div>
                      </div>
                      <div class="">
                        <div class="text-[12px] text-[#00000061] font-sans">Discount</div>
                        <div class="text-[16px] text-dark-text font-sans">€0.00</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-span-1 p-4">
                    <div class="space-y-4">
                      <div class="row-span-1">
                        <div class="text-[12px] text-[#00000061]">Billing</div>
                        <div class="text-[12px] text-white bg-none"><span class=" p-1 px-2 rounded-full  bg-[#F57F17]">Billable</span></div>
                      </div>
                      <div class="row-span-1">
                        <div class="text-[12px] text-[#00000061]">Invoice</div>
                        <div class="text-[16px]  text-primary-blue">25071</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-span-1 p-4">
                    <div class="text-[12px] text-[#00000061]">Payment</div>
                    <div class="text-[12px] text-white bg-none"><span class=" p-1 px-2 rounded-full  bg-primary-blue">Paid</span></div>
                  </div>
                  <div class="col-span-1 p-4">
                    <div class="text-[12px] text-[#00000061] font-sans">Price</div>
                    <div class="text-[16px] text-dark-text font-sans">€663.34</div>
                  </div>
                  <div class="col-span-1 p-4">
                    <div class="text-[12px] text-[#00000061] font-sans">Transport</div>
                    <div class="text-[16px] text-dark-text font-sans">€0.00</div>
                  </div>
                  <div class="col-span-1 p-4">
                    <div class="text-[12px] text-[#00000061]">Packing slip</div>
                    <div class="text-[12px] text-white bg-none"><span class=" p-1 px-2 rounded-full  bg-[#F57F17]">issues</span></div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row  *matHeaderRowDef="['extend', 'select'].concat(columnsToDisplay).concat(['actions'])" class=" border-b-2  border-[#EFEFEF]" ></tr>

          <tr mat-row *matRowDef="let element; columns: ['extend', 'select'].concat(columnsToDisplay).concat(['actions']);"
              [class.example-expanded-row]="expandedElement === element"
              class="example-element-row  border-b-1 border-dashed border-[#EFEFEF]"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" ></tr>
        </table>
        <mat-paginator style-paginator
                       [pageSizeOptions]="[10, 20,50]"
                       [pageSize]="10"
                       [length]="listOfProduct.data.length"
                       [showTotalPages]="5 ">
          ></mat-paginator >

      </div>

    </app-page-body>
  </div>
</section>
