<section class="bg-[#F7F7F7] text-gray md:pl-[240px] md:pt-[80px] font-sans min-h-screen w-full mx-auto ">
  <div class="p-4">
    <div class="flex justify-between">
      <div>
        <div class="text-[20px] text-head-text font-bold">
          Orders
        </div>
        <div>
          Home - <span class="font-semibold text-dark-text">Orders</span>
        </div>
      </div>
      <div class="flex space-x-2">
        <button class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] items-center">Actions<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i></button>
        <button class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] "><i class="fi fi-rr-upload  align-middle px-2"></i>Export<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i></button>
        <button class="text-white bg-light-blue rounded px-3 h-[36px] text-[14px] "><i class="fi fi-rr-plus font-bold  align-middle pr-1"></i>New Order</button>
      </div>
    </div>
    <div class="bg-white mt-[24px]">
      <div class="p-8 ">
        <div class="flex">
          <div class=" flex rounded w-[362px] h-[36px] bg-dark-gray">
            <i class="fi fi-rr-search bg-dark-gray p-2 my-auto rounded"></i>
            <input type="text" placeholder="Search Orders" class=" hover:ring-none rounded bg-dark-gray w-full">
          </div>
          <button>
            <i class="fi fi-rr-filter p-2 rounded-full text-light-blue"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
