<section class="bg-[#F7F7F7] text-gray md:pl-[240px] md:pt-[80px] font-sans min-h-screen w-full mx-auto ">
<!--  <div class="p-4">-->
<!--    <div class="flex justify-between">-->
<!--      <div>-->
<!--        <div class="text-[20px] text-head-text font-bold">-->
<!--          Orders-->
<!--        </div>-->
<!--        <div>-->
<!--          Home - <span class="font-semibold text-dark-text">Orders</span>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="flex space-x-2">-->
<!--        <button mat-button [matMenuTriggerFor]="actions" class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] items-center">-->
<!--          Action<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i>-->
<!--        </button>-->
<!--        <mat-menu #actions="matMenu" xPosition="before">-->
<!--          <button mat-menu-item class="text-[#FF0000] "><i class="fi fi-rr-trash  align-middle px-2"></i>Delete</button>-->
<!--        </mat-menu>-->

<!--        <button mat-button [matMenuTriggerFor]="exports" class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] ">-->
<!--          <i class="fi fi-rr-upload  align-middle px-2"></i>Export<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i>-->
<!--        </button>-->
<!--        <mat-menu #exports="matMenu" xPosition="before">-->
<!--          <button mat-menu-item>Download as CSV</button>-->
<!--          <button mat-menu-item>Order rules picking as CSV</button>-->
<!--          <button mat-menu-item>Warehouse colli labels</button>-->
<!--          <button mat-menu-item>Packing List</button>-->
<!--        </mat-menu>-->

<!--        <button class="text-white bg-light-blue rounded px-3 h-[36px] text-[14px] "><i class="fi fi-rr-plus font-bold  align-middle pr-1"></i>New Order</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="bg-white mt-[24px]">-->
<!--      <div class="px-4">-->
<!--          <div class="items-center flex justify-between py-5">-->
<!--            <div class="flex">-->
<!--              <span class="p-input-icon-left">-->
<!--                <i class="pi pi-search"></i>-->
<!--                <input pInputText type="text"  class="h-[36px] w-[360px]"  placeholder="Search..." />-->
<!--              </span>-->
<!--&lt;!&ndash;              <button (click)=headerRow() class="px-5">&ndash;&gt;-->
<!--&lt;!&ndash;                <div *ngIf="headerExpand; else elseBlock">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fi fi-rr-filter p-2 rounded-full text-white bg-[#26A6C3]"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <ng-template #elseBlock><i class="fi fi-rr-filter p-2 rounded-full text-light-blue"></i></ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;              </button>&ndash;&gt;-->
<!--            </div>-->
<!--            <button mat-button [matMenuTriggerFor]="columns" class="text-light-blue border border-border-gray rounded px-3 h-[36px] text-[14px] ">-->
<!--              Columns<i class="fi fi-rr-caret-down text-dark-text align-middle pl-2"></i>-->
<!--            </button>-->
<!--            <mat-menu #columns="matMenu" xPosition="before">-->
<!--              <section class="w">-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Order Number</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Customers</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Business</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Postcode</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Order Date</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Date of Delivery</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Delivery</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Billing</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Payment</mat-checkbox></div>-->
<!--                <div class="pr-12 p-2  text-[16px] w-full"><mat-checkbox >Price</mat-checkbox></div>-->

<!--              </section>-->
<!--            </mat-menu>-->
<!--          </div>-->
        <p-table [value]="orders" >
          <ng-template  pTemplate="header">
            <tr>
              <th>Code</th>
              <th>Name</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order  >
            <tr >
              <td >{{order.customer}}</td>
              <td>{{order.business}}</td>
            </tr>
          </ng-template>
        </p-table>
<!--      </div>-->

<!--        <p-table #dt1 [columns]="selectedColumns" [value]="dataSource" selectionMode="single" [(selection)]="selectedOrders" dataKey="no" class="table-auto bg-white" stateStorage="local" stateKey="statedemo-local">-->
<!--          <ng-template pTemplate="header">-->
<!--            <tr class='text-[#00000061] text-[12px]' height="45px">-->
<!--              <th></th>-->
<!--              <th>-->
<!--                <input type="checkbox">-->
<!--              </th >-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Number </th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Customer Name </th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Business</th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Postcode </th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Order Date </th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Date of Delivery </th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Delivery</th>-->
<!--              <th  class="text-[12px] text-[#00000061] font-sans">Actions</th>-->

<!--            </tr>-->
<!--            <tr *ngIf="headerExpand" class="gap-1">-->
<!--              <th></th>-->
<!--              <th></th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                  <input type="text" placeholder="Search by Name" class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1">-->
<!--                </div>-->
<!--              </th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                  <input pInputText type="text" (input)="dt1.filter($event.target.value, 'name', 'contains')" [value]="dt1.filters['customer']?.value" placeholder="sss" class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1">-->
<!--                </div>-->
<!--              </th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                  <input type="text" placeholder="Search by Name" class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1">-->
<!--                </div>-->
<!--              </th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                  <input type="text" placeholder="Search by Name" class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1">-->
<!--                </div>-->
<!--              </th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                      <input type="date"  class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1 placeholder:text-[12px] placeholder:text-[#00000061]" />-->
<!--                </div>-->
<!--              </th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                  <input type="date"  class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1" />-->
<!--                </div>-->
<!--              </th>-->
<!--              <th>-->
<!--                <div class="p-1">-->
<!--                  <input type="text" placeholder="Search by Name" class="p-column-filter w-[100px] h-[36px] bg-[#F5F8FA] rounded p-1">-->
<!--                </div>-->
<!--              </th>-->

<!--            </tr>-->
<!--          </ng-template>-->
<!--          <ng-template pTemplate="body" let-order let-expanded="expanded" class="">-->
<!--            <tr>-->
<!--              <td class="p-1">-->
<!--                <div  pButton  [pRowToggler]="order" class="p-button-text  p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></div>-->
<!--              </td>-->
<!--              <td class="">-->
<!--                <div class="px-3">-->
<!--                  <mat-checkbox >-->
<!--                  </mat-checkbox>-->
<!--                </div>-->
<!--              </td>-->
<!--              <td class="p-1 text-[14px] text-[#009CB2] font-sans font-bold"><p class="px-1">{{order.no}}</p></td>-->
<!--              <td class="p-1 text-[14px] text-[#009CB2] font-sans "><p class="px-1">{{order.customer}}</p></td>-->
<!--              <td class="p-1 text-[14px] text-[#009CB2] font-sans "><p class="px-1">{{order.business}}</p></td>-->
<!--              <td class="p-1 text-[14px] text-dark-text font-sans"><p class="px-1">{{order.postcode}}</p></td>-->
<!--              <td class="p-1 text-[14px] text-dark-text font-sans"><p class="px-1">{{order.order_date}}</p></td>-->
<!--              <td class="p-1 text-[14px] text-dark-text font-sans"><p class="px-1">{{order.date_of_delivery}}</p></td>-->
<!--              <td class="p-1 text-[14px] text-dark-text font-sans"><div class="bg-[#4C9ED1] rounded-full text-center text-[12px] text-white"> {{order.delivery}} </div></td>-->
<!--              <td class="p-1 ">-->
<!--                <div class="flex space-x-2 px-2 text-center">-->
<!--                  <i class="fi fi-rr-pencil text-primary-blue"></i>-->
<!--                  <i class="fi fi-rr-cloud-download text-primary-blue"></i>-->
<!--                  <i class="fi fi-rr-trash text-[#FF0000]"></i>-->
<!--                </div>-->
<!--              </td>-->

<!--            </tr>-->
<!--          </ng-template>-->
<!--          <ng-template pTemplate="rowexpansion"  let-order >-->
<!--            <td colspan="12">-->
<!--              <div class="bg-[#F7F7F7] w-full grid grid-cols-6 font-sans">-->
<!--                <div class="col-span-1 p-4">-->
<!--                  <div class="space-y-4">-->
<!--                    <div class="">-->
<!--                      <div class="text-[12px] text-[#00000061] font-sans">Venue</div>-->
<!--                      <div class="text-[16px] text-dark-text font-sans">Amsterdam</div>-->
<!--                    </div>-->
<!--                    <div class="">-->
<!--                      <div class="text-[12px] text-[#00000061] font-sans">Discount</div>-->
<!--                      <div class="text-[16px] text-dark-text font-sans">€0.00</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-span-1 p-4">-->
<!--                  <div class="space-y-4">-->
<!--                    <div class="row-span-1">-->
<!--                      <div class="text-[12px] text-[#00000061]">Billing</div>-->
<!--                      <div class="text-[12px] text-white bg-none"><span class=" p-1 px-2 rounded-full  bg-[#F57F17]">Billable</span></div>-->
<!--                    </div>-->
<!--                    <div class="row-span-1">-->
<!--                      <div class="text-[12px] text-[#00000061]">Invoice</div>-->
<!--                      <div class="text-[16px]  text-primary-blue">25071</div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-span-1 p-4">-->
<!--                  <div class="text-[12px] text-[#00000061]">Payment</div>-->
<!--                  <div class="text-[12px] text-white bg-none"><span class=" p-1 px-2 rounded-full  bg-primary-blue">Paid</span></div>-->
<!--                </div>-->
<!--                <div class="col-span-1 p-4">-->
<!--                  <div class="text-[12px] text-[#00000061] font-sans">Price</div>-->
<!--                  <div class="text-[16px] text-dark-text font-sans">€663.34</div>-->
<!--                </div>-->
<!--                <div class="col-span-1 p-4">-->
<!--                  <div class="text-[12px] text-[#00000061] font-sans">Transport</div>-->
<!--                  <div class="text-[16px] text-dark-text font-sans">€0.00</div>-->
<!--                </div>-->
<!--                <div class="col-span-1 p-4">-->
<!--                  <div class="text-[12px] text-[#00000061]">Packing slip</div>-->
<!--                  <div class="text-[12px] text-white bg-none"><span class=" p-1 px-2 rounded-full  bg-[#F57F17]">issues</span></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </ng-template>-->
<!--        </p-table>-->
<!--      </div>-->
<!--    </div>-->

</section>
