<app-navigation>
  <section class="bg-[#F7F7F7] text-gray mx-auto">
    <div class="p-6">
      <div class="flex justify-between pb-4">
        <div>
          <div class="text-[18px] text-head-text " >
            <div class="font-semibold">Supplier Overview for <span class="text-[#56CAE5]">2022-01-12</span></div>
          </div>
          <div class="font-light text-[14px]">
            Home -  <span class="font-semibold text-dark-text">Supplier Overview</span>
          </div>
        </div>
        <div class="">
          <button class="text-white bg-light-blue rounded-md flex align-middle p-2 px-3 h-[36px] text-[14px] "><i class="fi fi-rr-cloud-download font-black  align-middle pt-0.5 pr-1"></i>Download as .csv</button>
        </div>
      </div>
      <app-page-body>
        <div class="px-5 pt-5 flex justify-between">
          <div class="flex ">
            <button class="bg-[#56CAE5] rounded-full text-white w-[36px] h-[36px] pt-1">
              <i class="fi fi-rr-angle-small-left text-md  "></i>
            </button>
            <div class="flex">
              <input [matDatepicker]="picker" placeholder="Order Date" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l-md h-[36px]  w-[190px] truncate ml-2 placeholder-[#00000099]">
              <mat-datepicker #picker></mat-datepicker>
              <div class="text-[14px] bg-[#F5F8FA] outline-0 rounded-r-md h-[36px]  pt-[12px] w-[20px] mr-2">
                <i (click)="picker.open()" class="fi fi-rr-calendar "></i>
              </div>
            </div>
            <button class="bg-[#56CAE5] rounded-full text-white w-[36px] h-[36px] pt-1">
              <i class="fi fi-rr-angle-small-right text-md  "></i>
            </button>
          </div>
        </div>
        <div class="px-4">
          <table mat-table
                 [dataSource]="listOfOrder"
                 multiTemplateDataRows
                 class="px-4 table-auto  mx-auto w-full " matSort>
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans" mat-sort-header>
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] pr-2">NUMBER</div>
                  <span *ngIf="exHeadFill">
                  <div class=" border-t h-[46px] border-[#EFEFEF] mx-auto" >
                      <input (keyup)="applyFilter($event)"  placeholder="Number" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] truncate w-[50px] mx-r placeholder-[#00000099]">
                  </div>
                </span>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans font-bold"> {{element.no}} </td>
            </ng-container>
            <ng-container matColumnDef="customer">
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] pr-2">CUSTOMER</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <input (keyup)="applyFilter($event)"  placeholder="Customer" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[150px] truncate mr-2 placeholder-[#00000099]">
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-[#009CB2] font-sans "> {{element.customer}} </td>
            </ng-container>
            <ng-container matColumnDef="business" >
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] pr-2">BUSINESS</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <input (keyup)="applyFilter($event)"  placeholder="Business" class="indent-2 text-[14px] bg-[#F5F8FA]  outline-0 rounded-md h-[36px] mt-[5px] w-[80px] truncate mr-2 placeholder-[#00000099]">
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] font-sans text-[#009CB2]"> {{element.business}} </td>
            </ng-container>
            <ng-container matColumnDef="postcode">
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] pr-2">POSTCODE</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <input (keyup)="applyFilter($event)"  placeholder="Postcode" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[80px] truncate mr-2 placeholder-[#00000099]">
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans "> {{element.postcode}} </td>
            </ng-container>
            <ng-container matColumnDef="order_date">
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] px-r">ORDER&nbsp;DATE</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] w-[130px] border-[#EFEFEF] flex" >
                      <input [matDatepicker]="picker" placeholder="Order Date" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l-md h-[36px] mt-[5px] w-[90px] truncate ml-2 placeholder-[#00000099]">
                      <mat-datepicker #picker></mat-datepicker>
                      <div class="text-[14px] bg-[#F5F8FA] outline-0 rounded-r-md h-[36px] mt-[5px] pt-[12px] w-[20px] mr-2">
                        <i (click)="picker.open()" class="fi fi-rr-calendar "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans "> {{element.order_date}} </td>
            </ng-container>
            <ng-container matColumnDef="date_of_delivery">
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] px-r">DATE&nbsp;OF&nbsp;DELIVERY</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] w-[130px] border-[#EFEFEF] flex" >
                      <input [matDatepicker]="picker" placeholder="Order Date" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-l-md h-[36px] mt-[5px] w-[90px] truncate ml-2 placeholder-[#00000099]">
                      <mat-datepicker #picker></mat-datepicker>
                      <div class="text-[14px] bg-[#F5F8FA] outline-0 rounded-r-md h-[36px] mt-[5px] pt-[12px] w-[20px] mr-2">
                        <i (click)="picker.open()" class="fi fi-rr-calendar "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.date_of_delivery}} </td>
            </ng-container>
            <ng-container matColumnDef="delivery">
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] px-r">DELIVERY</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <select (click)="applyFilter($event)" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[120px] mr-2 truncate placeholder-[#00000099]"></select>
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[11px] text-dark-text font-sans " ><span class="bg-[#4C9ED1] py-1 px-2 rounded-full text-center text-white"> {{element.delivery}} </span></td>
            </ng-container>
            <ng-container matColumnDef="payment" >
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] px-r">PAYMENT</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <input (keyup)="applyFilter($event)"  placeholder="Payment" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[80px] mr-2 truncate placeholder-[#00000099]">
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.payment}} </td>
            </ng-container>
            <ng-container matColumnDef="billing" >
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] px-r">BILLING</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <input (keyup)="applyFilter($event)"  placeholder="Billing" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[80px] mr-2 truncate placeholder-[#00000099]">
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.billing}} </td>
            </ng-container>
            <ng-container matColumnDef="price" >
              <th mat-header-cell *matHeaderCellDef class="text-[12px] text-[#00000061] font-sans">
                <div class="flex-col items-center">
                  <div class="h-[46px] pt-[20px] px-r">PRICE</div>
                  <div *ngIf="exHeadFill">
                    <div class=" border-t h-[46px] border-[#EFEFEF]" >
                      <input (keyup)="applyFilter($event)"  placeholder="Price" class="indent-2 text-[14px] bg-[#F5F8FA] outline-0 rounded-md h-[36px] mt-[5px] w-[80px] mr-2 truncate placeholder-[#00000099]">
                    </div>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element" class="px-2 text-[14px] text-dark-text font-sans"> {{element.price}} </td>
            </ng-container>
            <tr mat-header-row  *matHeaderRowDef="columnsToDisplay" class=" border-b-2  border-[#EFEFEF] " ></tr>

            <tr mat-row *matRowDef="let element; columns:columnsToDisplay"
                class="example-element-row  border-b-1 border-dashed border-[#EFEFEF]"></tr>
          </table>
          <mat-paginator style-paginator
                         [pageSizeOptions]="[10, 20,50]"
                         [pageSize]="10"
                         [length]="listOfOrder.data.length"
                         [showTotalPages]="5 ">
            ></mat-paginator >

        </div>

      </app-page-body>
    </div>
  </section>
</app-navigation>

