 <div class="flex flex-col">
   <section class=" w-full h-[70px] z-40">
     <div class="fixed h-[70px] bg-[#56CAE5] mx-auto w-full z-40">
       <div class="flex md:justify-around">
         <div>
           <!--    <div *ngIf="backButtonActive">-->
           <!--      <button (click)="backClicked()" class="text-[#58CCE4] bg-white rounded w-[74px] flex align-middle p-[2px] h-[36px] text-[14px] ">-->
           <!--        <i class="fi-rr-arrow-small-left text-[20px] px-1 font-black pt-0.5 "></i>Back-->
           <!--      </button>-->
           <!--    </div>-->
         </div>
         <div class="flex my-auto space-x-5 items-center">
           <div>
             <i class="fi fi-rr-comments text-light-text text-[24px]"></i>
           </div>
           <div class="relative">
             <i class="fi fi-rr-bell text-[24px] text-light-text"></i>
             <span class="absolute text-[10px] bg-red-500 w-4 h-4 flex items-center justify-center font-bold text-white rounded-full -top-2 -right-2">8</span>
           </div>
           <div>
             <i class="fi fi-rr-apps text-[24px] text-light-text"></i>
           </div>
           <button mat-button [matMenuTriggerFor]="profileMenu">
             <div class="flex space-x-1 justify-items-center	align-middle">
               <img src="assets/img/cat.jpg" class="rounded-full my-auto h-[40px] w-[40px]" alt="vt">
               <span class=" font-light text-white flex px-1">Rod Modon <div class="flex items-center px-1"><i class="fi fi-rr-caret-down text-dark-blue"></i></div></span>
             </div>
           </button>
           <mat-menu #profileMenu="matMenu" xPosition="before">
             <div class="justify-center flex flex-col mx-auto text-center w-[260px] object-center items-center	font-sans pt-4 overscroll-none">
               <img  src="assets/img/cat.jpg" alt='vt' class="h-[70px] w-[70px] rounded-full">
               <div class="py-3 text-[#26A6C3] text-[20px] font-sans">Rod Modan</div>
               <div class=" text-[#E5E5E5] border-b w-full "></div>
               <div class="text-[#00000061] py-2 font-light text-[14px] font-sans">Administrator, VersTrade</div>
               <button mat-menu-item class="text-[#56CBE5] my-auto font-sans"><span class="fi fi-rr-user pl-2 pr-6 "></span>View Profile</button>
               <button mat-menu-item class="text-[#56CBE5] my-auto font-sans"><span class="fi fi-rr-world pl-2 pr-6 "></span>Language Settings</button>
               <button mat-menu-item class="text-[#56CBE5] my-auto font-sans"><span class="fi fi-rr-lock-alt pl-2 pr-6 "></span>Change Password</button>
               <button mat-menu-item class="text-[#F4511E] my-auto font-sans"><span class="fi fi-rr-sign-out pl-2 pr-6 "></span>Sign Out</button>
             </div>
           </mat-menu>
         </div>
       </div>
     </div>
   </section>
 </div>

